global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # The labels to add to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'master'



{% if prometheus_version | version_compare('2.0.0', '>=')  %}
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - {{alertmanager_url}}:{{alertmanager_port}}
{% endif %}


{% if prometheus_rule_files is defined %}
# Rule files specifies a list of files from which rules are read.
rule_files:
  {% for (key, value) in prometheus_rule_files.iteritems() %}
  - {{ prometheus_rule_path }}/{{ value.dest }}
  {% endfor %}
{% endif %}



# A list of scrape configurations.
scrape_configs:

  - job_name: 'prometheus'
    scrape_interval: 10s
    scrape_timeout:  10s
    static_configs:
      - targets: ['127.0.0.1:9090']

{% for job in prometheus_jobs %}
  - job_name: {{ job.jobname }}
    file_sd_configs:
      - files:
        - '{{ prometheus_file_sd_config_path }}/{{ job.jobname }}.yml'
{% endfor %}

#  - job_name: node
#    file_sd_configs:
#      - files:
#        - '{{ prometheus_file_sd_config_path }}/node.yml'

    #static_configs:
    #- targets:
    #  - "localhost:9100"

